@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

:root {
    --border-gray: #5d5d5d;
    --button-primary: #007bff;
    --button-danger: #DC3545;
    --scandi-red: #e04f4f;
    --white-font: white;
}

* {
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
}

.top {
    border-bottom: 1px solid var(--scandi-red);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    /*padding: 10px;*/
    width: 94%;
}

.logo {
    font-size: 2.5rem;
}

.top-buttons {
    align-items: center;
    display: flex;
    justify-content: center;
}

.top-buttons:last-child {
    margin-left: 0;
}

.btn {
    align-items: center;
    background-color: var(--button-primary);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    margin: 3% 5%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    width: 8rem;
}

.btn:hover {
    background-color: white;
    border: 1px solid var(--border-gray);
    color: black;
    opacity: 0.5;
}

.btn-delete {
    background-color: var(--scandi-red);
    width: 9rem;
}

.btn-submit {
    border: none;
    outline: none;
    margin: 3% auto;
}

.btn-cancel {
    background-color: var(--scandi-red);
}

.products-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(8.5rem, 16rem));
    grid-auto-rows: 12rem;
    grid-gap: 1rem;
    width: 94%;
    justify-content: center;
    margin: 2% auto 7% auto;
}

.product {
    align-items: center;
    border: 1px solid var(--border-gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 5px;
    text-align: center;
}

.delete-checkbox {
    align-self: flex-start;
}

.footer {
    align-items: center;
    background-color: var(--scandi-red);
    bottom: 0;
    color: var(--white-font);
    display: flex;
    height: 8%;
    justify-content: center;
    position: fixed;
    width: 100%;
}

/*Product Add Page*/

.product-info {
    align-items: center;
    display: flex;
    justify-content: center;
}

.product_form {
    display: flex;
    flex-direction: column;
    margin: 30px 3%;
    max-width: 80%;
    min-width: 80%;
}

.product_form input {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    width: 100%;
}

.product_form select {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    width: 100%;
}

.hidden {
    display: none;
}

@media screen and (max-width: 425px) {
    .top {
        justify-content: space-around;
    }

    .products-list {
        grid-template-columns: repeat(auto-fill, minmax(8.5rem, 16rem));
        grid-auto-rows: 10rem;
    }
}